.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-height: 680px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}

.leftPanel {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--white);
  background:
    radial-gradient(circle at 20% 20%, rgba(0, 102, 255, 0.25), transparent 30%),
    radial-gradient(circle at 70% 80%, rgba(0, 102, 255, 0.18), transparent 35%),
    #03111f;
}

.welcome {
  color: var(--main);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.heading {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 20px;
}

.description {
  color: var(--text);
  font-size: 14px;
  max-width: 420px;
}

.pointers {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 15px;
}

.pointer {
  display: flex;
  flex-direction: row;
  span {
    margin-left: 10px;
    margin-top: 4px;
  }
}

.rightPanel {
  padding: 60px;
  background-color: var(--backgroundGray);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 38px;
  margin-bottom: 8px;
}

.subtitle {
  color: var(--text);
  margin-bottom: 30px;
}

.socialButtons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 30px;
}

.socialBtn {
  flex: 1;
  border-radius: 8px;
  padding: 14px;
  background: transparent;
  color: var(--white);
  border: 1px solid var(--main);
  cursor: pointer;
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.divider {
  text-align: center;
  color: var(--text);
  margin-bottom: 25px;
  position: relative;
  height: 40px;
}

.deviderMiddle {
  display: flex;
  flex-direction:row;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--backgroundGray);
}

.divider span {
  padding: 10px 15px;
}

.divider hr {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  z-index: 0;
}

.arrowIcon {
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field input {
  padding: 10px 14px;
  background: transparent;
  border: 1px solid var(--main);
  color: var(--white);
  outline: none;
}

.passwordLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwordLabel a {
  font-size: 14px;
  color:  var(--main);
  text-decoration: none;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
  font-size: 14px;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--main);
  background: transparent;
  display: grid;
  place-content: center;
  cursor: pointer;
}

/* checked state */
.checkbox input[type="checkbox"]:checked {
  background: var(--backgroundGray);
}

/* checkmark */
.checkbox input[type="checkbox"]:checked::after {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--main);
}

.submitBtn {
  margin-top: 15px;
  padding: 15px;
  background: transparent;
  color: var(--white);
  border: 1px solid var(--main);
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 100, 255, 0.15);
  transition: 0.3s;
}

.submitBtn:hover {
  box-shadow: 0 0 25px rgba(0, 100, 255, 0.3);
}

.register {
  margin-top: 25px;
  text-align: center;
  color: var(--text);
  cursor: pointer;
}

.register a {
  color: #4b8dff;
  text-decoration: none;
}

.row {
  display: flex;
  gap: 10px;
}

.row .field {
  flex: 1;
}

@media (max-width: 900px) {

  .row {
    flex-direction: column;
  }

  .title {
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  
  .wrapper {
    padding: 0;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .leftPanel {
    min-height: 300px;
      padding: 40px 25px;
  }

  .heading {
    font-size: 36px;
  }

  .rightPanel {
    padding: 40px 25px;
  }
}