.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--main);
    padding: 0.75rem;
    border-radius: 8px;

    width: fit-content;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
}

.center {
  margin: 2rem auto;
}