@import "tailwindcss";

:root {
  --main: #6191d0c5;
  --background: #0A0A0A;
  --backgroundGray: #161616;
  --backGroundBlue: #001228;
  --text: #AEAEAE;
  --darkText: #8A8A8A;

  /* old colors */
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main: #6191D0;
    --background: #0A0A0A;
    --backgroundGray: #161616;
    --backGroundBlue: #001228;
    --white: #E5E5E5;
    --text: #AEAEAE;
    --darkText: #8A8A8A;

    /* old colors */
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
