.main {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.main p {
  padding: 0.5rem 1.25rem;
  border: 0.1rem solid var(--darkText);
  border-radius: 0.25rem;
  transition: all 0.25s ease;
  font-weight: bold;
  color: var(--text);
  cursor: pointer;
  white-space: nowrap;
}

.main p:hover {
  transform: translateY(-0.25rem);
  background-color: var(--main);
  color: #111;
  border-color: var(--main);
  box-shadow: 0 0 10px var(--main),
              0 0 20px var(--main);
}

@media (max-width: 800px) {

  .main p {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
  }

}