.header {
  top: 0;
  z-index: 50;
  position: sticky;
  background-color: var(--background);
  padding: 0.625rem 1rem;
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
}

.desktopNav {
  display: flex;
}

.actions {
  gap: 2.5rem;
}

.searchBox {
  display: flex;
  align-items: center;
  border: 2px solid var(--main);
  border-radius: 0.4rem;
  padding: 0 0.5rem;

  flex: 1;
  max-width: 225px;
}

.iconBtn {
  cursor: pointer;
}

.headerMain {
  max-width: 1280px;
  margin: 1rem auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .actions {
    gap: 1rem;
  }
}

@media (max-width: 992px) {
  .desktopNav {
    display: none;
  }
}

@media (max-width: 768px) {
  .headerMain {
    a > img {
      width: 3rem;
      height: 3rem;
    }
  }
}

@media (max-width: 480px) {
  .actions {
    gap: 0.5rem;
  }
}
