
/* styles line */
.dateLine {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date {
  background-color: var(--mainDark);
  color: var(--main);
  border: 1px solid var(--main);
  padding: 0.4rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  white-space: nowrap;
}

.line {
  flex: 1;        
  height: 1px;
  border: none;
  background: var(--text);
}

.count {
  white-space: nowrap;
  color: var(--text);
  font-size: 0.9rem;
}
/* ----------------- */