.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

  gap: 0.5rem;
}

.eyebrow {
  font-size: 1.125rem;
  color: var(--main);
  text-transform: uppercase;
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.25rem;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
